html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
// .box{
//     display: flex;
// }
a{
    display: inline-block;
    text-decoration: none;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #464646;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}