@media (max-width: 1120px){
    .products__item-turned .products__item-descr {
        padding-right: 100px;
    }
    .products__item {
        margin-bottom: 140px;
    }
    .products__title, 
    .products__text{
        &::before{
            width: 0;
        }
    }
}
@media (max-width: 1080px){
    .products__item-img{
        img{
           width: 490px;
           height: 325px;
           margin-right: 10px;
        } 
    }
    .products__item-descr {
        margin-top: 0;
    }
    .products__item-turned .products__item-descr {
        margin-top: 0;
        padding-right: 100px;
    }
    .products__item{
        margin-bottom: 50px;
    }
    .advantages__images{
        flex-wrap: wrap;
    }
    .advantages__item{
        margin-bottom: 80px;
    }
    .about__img {
        img{
            width: 500px;
            height: 357px;
        } 
    }
    .about__title{
        margin-top: 30px;
    }
}
@media (max-width: 960px){
    .header__top-items {
        display: none;
        position: absolute;
        width: 100%;
        z-index: 2;
        top: 70px;
        left: 0;
        right: 0;
        background-color: rgba($color: $brown, $alpha: 0.4);
        border-bottom: 5px solid $brown;
        padding-bottom: 15px;
        & ul {
            display: block;
            text-align: center;
            width: 100%;
            padding-left: 0px;
        }
        .header__top-item{
            width: 100%;
        }
    }
    .header__top-btn{
        display: block;
    }
}
@media (max-width: 920px){
    .products__item-img{
        img{
           width: 450px;
           height: 300px;
           margin-right: 10px;
        } 
    }
}
@media (max-width: 880px){
    .products__item{
        flex-wrap: wrap;
        justify-content: center;
    }
    .products__text {
        max-width: 500px;
    }
    .products__item {
        margin-top: 80px;
        margin-bottom: 70px;
    }
    .products__item-turned .products__item-img {
        padding-left: 10px;
        margin: 0 auto;
        height: 290px;
        width: auto;
    }
    .products__item-turned .products__item-descr{
        order: -1;
        text-align: left;
        padding-right: 0;
    }
    .products__title-turned::before{
        left: 520px;
}
    .products__text-turned::before{
        left: 520px;
    }
    .advantages__text{
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .about__inner{
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        & .about__items{
            order: -1;
        }
    }
}

@media (max-width: 740px){

}
@media (max-width: 680px){
    .header__main-title {
        font-size: 80px;
        line-height: 100px;
    }
    .products__title, 
    .products__text{
        padding-right: 20px;
        padding-left: 10px;
        &::before{
            width: 0;
        }
    }
    .products__item-turned .products__item-descr{
        margin: 0 auto;
        padding-right: 0;
    }
    .products__item-descr{
        margin-left: 0;
    }
    .presentation__title{
        font-size: 40px;
        line-height: 54px;
    }
}
@media (max-width: 580px){
    .header__main-title {
        font-size: 60px;
        line-height: 80px;
    }
    .header__main-btn, 
    .btn {
    font-size: 10px;
    line-height: 16px;
    padding: 12px 60px 12px 30px;
    margin-top: 40px;
        &::after{
            top: 16px;
        }
        &::before{
            width: 23px;
            top: 19px;
        }
    }
    .products__item {
        margin-top: 60px;
    }
    .products__item.products__item-turned{
        margin-bottom: 40px;
        margin-top: -30px;
    }
    .advantages__title {
        font-size: 40px;
        line-height: 50px;
    }
    .about__title{
        font-size: 40px;
        line-height: 50px;
        margin-left: 0;
        padding-left: 15px;
        &::before{
            display: none;
        }
    }
    .about__text {
        margin-left: 0;
        padding-left: 15px;
        &::before{
            display: none;
        }
    }
    .about__img{
        margin-bottom: 40px;
        height: 100%;
        & img{
            width: 400px;
            height: 285px;
        }
    }
    .presentation {
        margin-bottom: 0;
        height: 600px;
    }
    .presentation__item {
        padding-top: 50px;
    }
}
@media (max-width: 480px){
    .header__top-logo{
        display: none;
    }
    .header__top-btn {
        margin-left: 20px;
    }
    .products__item-img img {
        width: 320px;
        height: 213px;
        margin-right: 10px;
    }
    .products__item.products__item-turned {
        margin-bottom: 0px;
    }
    .advantages__title {
        font-size: 36px;
        line-height: 46px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 460px){
    .advantages__item .advantages__item-text{
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
        width: 224px;
        height: 224px;
        border-radius: 50%;
    }
    .advantages__item{
        &:hover{
            .advantages__item-text{
                display: block;
                background: rgba(0, 0, 0, 0.5);
                width: 224px;
                height: 224px;
                border-radius: 50%;
            }
        }
    }
}
@media (max-width: 420px){
    .header__main-title {
        font-size: 45px;
        line-height: 60px;
    }
    .header__main-btn, 
    .btn {
    font-size: 8px;
    line-height: 12px;
    padding: 12px 60px 12px 30px;
    margin-top: 25px;
        &::after{
            top: 16px;
        }
        &::before{
            width: 23px;
            top: 19px;
        }
    }
    .about__img{
        height: 100%;
        & img{
            width: 300px;
            height: 214px;
        }
    }
    .presentation__title{
        font-size: 36px;
        line-height: 50px;
    }
    .header__top-item{
        padding-left: 0;
        padding-right: 0;
    }
}


@media (min-width: 960px){
    .header__top-items {
        display: block !important;
    }
}


